.payment {
    width: 178px;
    height: 60px;
    top: 1234px;
    left: 830px;
    border: 1px solid rgba(13, 177, 255, 1);
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(13, 177, 255, 1);
    background-color: rgba(13, 177, 255, 1);
}

.payment-img{
  width: 262px;
height: 43px;
}
.font-weighted {
    font-weight: 700;
}

::ng-deep {
    .iti {
        border: none;
        width: 100%;
    }

    .iti__flag-container input {
        border: none !important;
    }

    .search-container {
        padding: 10px;
    }

    .country-dropdown {
        transform: translateY(10px);
        overflow-y: scroll;
        height: 300px
    }

    .country-dropdown {
        transform: translate(-70%, 0px) !important;
    }

    .phone-edit input {
        padding-left: 4rem;
    }

    .iti__country-list {
        overflow-y: hidden;
    }
    .iti .selected-dial-code{
      display: none !important;
    }
    .iti.separate-dial-code.iti--allow-dropdown.iti-sdc-3 input{
      font-size: 17px;
    }
 
}
