.close {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    // background-color: rgba(13, 177, 255, 1);
    color: #297CBB;
    margin: 0px;
    font-size: 25px;
    padding: 0px;
    font-weight: 900;
    border: 1px solid #297CBB;
}
ul li {
    padding-top: 10px;
}
li span {
    // padding-left: 120px;
    font-size: 18px;
}