<div>
    <section class="container">
        <div class="voucher">
            <div>
                <h2>Upcoming bookings</h2>
                <span>
                    No vouchers yet. once you make a booking you’ll find your vouchers here.
                </span>
            </div>
        </div>
    </section>
    <section class="voucher-container">
        <div class="container">
            <div class="marsa-logo flex-wrap">
                <div>
                    <img src="../../../../../../assets/images/logo.svg" alt="logo">
                </div>
                <div>
                    <h5>On the go ? Download the marsa waves app</h5>
                    <p>
                        Have all your vouchers in one place and receive live updates about your activities .
                    </p>
                </div>
                <div class="d-flex gap-4 apps">
                    <div>
                        <img src="../../../../../assets/images/googleplay.svg" alt="googleplay">
                    </div>
                    <div>
                        <img src="../../../../../../assets/images/appStore.svg" alt="App store">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="past">
            <p>Past and cancelled bookings </p>

            <p>
                You don’t have any past bookings.
            </p>
        </div>
    </section>
</div>
