h6{
    font-family: Lato;
font-size: 27px;
font-weight: 700;
line-height: 37px;
letter-spacing: 0em;
text-align: center;
color: #46CA5B;
}
small{
    font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: -0.01em;
color: #696973;
}