.card {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: #fff;
  border: none;
}

.card h5 {
  color: #297cbb;
  font-family: Lato;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.yellow-star {
  color: #ffd700 !important;
}

.fa-heart {
  color: #ff681a;
  font-size: 20px;
}

.card p {
  color: #3b444f;
  font-family: Lato;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card small {
  color: #67747c;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.review,
.icons {
  color: #67747c;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.review span {
  border-radius: 5px;
  background: #ff681a;
  color: #fff;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 5px;
}
.sale {
  width: 62.59px;
  height: 30px;
  top: 21px;
  left: 126.79px;
}

.card-heading {
  font-family: Lato;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.card-title {
  font-family: Lato;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.card-desc {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.review span {
  width: 61.55px;
  height: 22px;
  top: 145px;
  left: 331px;
  border-radius: 5px;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  padding: 6px 11px;
}
h3 {
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

ul {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  height: 51px;
  margin-bottom: 20px !important;
}

ul li button {
  font-family: "Lato", sans-serif;
  color: #67747c;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fa-heart {
  color: #ff681a;
  font-size: 20px;
}

.btns {
  cursor: pointer;
  button {
    color: #0057ff;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 2px solid #0057ff;
    transition: transform 0.3s ease;
  }
}
button:hover {
  background-color: #0057ff;
  color: #fff !important;
}

.badge-pill {
  height: 30px;
  top: 21px;
  left: 11px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 6px;
}

@media (max-width: 768px) {
  .card {
    margin-bottom: 5%;
  }
}
