<app-header [background]="'#0DB1FF'"></app-header>
<section class="content">
  <div class="container">
    <form [formGroup]="newPassword" >
      <div
        id="confirmCode"
        style="opacity: 1"
        data-target-group="idForm"
        class="animated fadeIn card p-5"
      >
        <div>
          <div class="text-center pb-2">

            <h3 class="h5 mb-0">New Password</h3>
          </div>
          <div style="margin: auto" class="element-width">
            <p>Please enter a strong password, then click Confirm.</p>
          </div>
          <div class="form-group pb-1">
            <div
              class="js-form-message js-focus-state border border-width-2 rounded-sm m-auto element-width"
            >
              <label class="sr-only" for="signinSrPassword">Password</label>
              <div
                class="input-group input-group-tranparent input-group-borderless input-group-radiusless"
              >
                <div class="input-group-prepend">
                  <span class="input-text" id="signinSrPassword">
                    <img src="../../../../../../../assets/icons/Icon awesome-lock.svg" alt="awesome-lock" />
                  </span>
                </div>
                <input
                  type="{{ isPasswordVisible1 ? 'text' : 'password' }}"
                  class="form-control"
                  name="password"
                  id="signinSrPassword"
                  placeholder="Enter Your Password"
                  formControlName="password"
                  [class.is-invalid]="password.errors && password.touched"
                />
                <div class="input-group-prepend">
                  <span
                    class="input-group-text"
                    id="signinSrrePassword"
                    (click)="toggleVisibility1()"
                  >
                    <img
                      src="assets/icons//eye-closed.svg"
                      alt="eye closed"
                      *ngIf="isPasswordVisible1"
                    />
                    <img
                      src="assets/icons//eye-open.svg"
                      alt="eye open"
                      *ngIf="!isPasswordVisible1"
                    />
                  </span>
                </div>
              </div>
            </div>
            <ng-container *ngIf="password.errors && password.touched">
              <div
                class="alert alert-danger my-2 element-width"
                style="margin: auto"
                *ngIf="password.errors?.['required']"
              >
                <p class="mb-0">Password is required</p>
              </div>
            </ng-container>
          </div>
          <div class="form-group pb-1">
            <div
              class="js-form-message js-focus-state border border-width-2 rounded-sm m-auto element-width"
            >
              <label class="sr-only" for="signinSrPassword">Confirm Password</label>
              <div
                class="input-group input-group-tranparent input-group-borderless input-group-radiusless"
              >
                <div class="input-group-prepend">
                  <span class="input-text" id="signinSrPassword">
                    <img src="assets/icons/Icon awesome-lock.svg" alt="awesome-lock" />
                  </span>
                </div>
                <input
                  type="{{ isPasswordVisible2 ? 'text' : 'password' }}"
                  class="form-control"
                  name="password"
                  id="signinSrPassword"
                  placeholder="Confirm Password"
                  formControlName="repassword"
                  [class.is-invalid]="repassword.errors && repassword.touched"
                />
                <div class="input-group-prepend">
                  <span
                    class="input-group-text"
                    id="signinSrrePassword"
                    (click)="toggleVisibility2()"
                  >
                    <img
                      src="assets/icons//eye-closed.svg"
                      alt="eye closed"
                      *ngIf="isPasswordVisible2"
                    />
                    <img
                      src="assets/icons//eye-open.svg"
                      alt="eye open"
                      *ngIf="!isPasswordVisible2"
                    />
                  </span>
                </div>
              </div>
            </div>
            <ng-container *ngIf="repassword.errors && repassword.touched">
              <div
                class="alert alert-danger my-2 element-width"
                style="margin: auto; height: 44px"
                *ngIf="repassword.errors?.['required']"
              >
                <p class="mb-0">Password is required</p>
              </div>
              <div
                class="alert alert-danger my-2 element-width"
                style="margin: auto; height: 44px"
                *ngIf="repassword.errors?.['passwordMismatch']"
              >
                <p class="mb-0">Passwords do not match</p>
              </div>
            </ng-container>
          </div>

          <!-- End Form Group -->

          <div class="mb-3 pb-1 d-flex justify-content-center">
            <button
              (click)="changeReqister('done')"
              type="submit"
              class="btn login-btn"
              [disabled]="newPassword.invalid"
            >
              Confirm
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
