h3 {
    color: #004796;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    position: relative;
}


::ng-deep{
  .my-destination-why .owl-carousel .owl-item img {
    display: block;
    width: fit-content !important;
    height: 85px !important;

  }
}


h3::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #297CBB;
    top: 100%;
    left: 49%;
}

h5 {
    font-family: Lato;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    padding-top: 15px;
}

p {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #67747C;
}
@media screen and (max-width:992px){
  h3 {

    font-size:25px;

}

h3::after {
    left: 40%;
}

}
@media screen and (max-width: 768px){
    .booking-card{
        width: 90%;
        margin: 10px auto;
        background: #FFF;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
        padding: 20px 40px;
        border-radius: 8px;
        margin-bottom: 25px;
    }
}
