<div class="modal-header boat">
  <!-- <h4 class="modal-title">Boat Photos</h4> -->
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="image-slider">
    <owl-carousel-o [options]="imagesOptions" class="trending">
      <ng-container *ngFor="let img of images">
        <ng-template carouselSlide>
          <ng-container *ngIf="img?.value; else elseTemplate">

            <img  [src]="img?.value"    loading="lazy" class="pe-3 bigimg" />
          </ng-container>
          <ng-template #elseTemplate>
            <img  [src]="img"  [alt]="getImageName(img)"  loading="lazy" class="pe-3 bigimg" />

          </ng-template>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>

