.btns button{
    border: 1px solid #E4E4E4;
    color: #67747C;
}
.active{
    background-color: #0057FF;
    color: #FFFFFF !important;
}
label{
    color: #67747C;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}