<app-header [background]="'#008CCF'"></app-header>
<section class="content">
  <!-- <div class="container">
    <div class="row  mb-lg-0">

      <div class="col-lg-12 col-xl-12">
        <div class="space-lg-1 space-xl-1 mt-lg-5">
          <img
            routerLink="/"
            class="js-svg-injector"
            src="../../../../assets/images/404-page.svg"
            alt="404 Not found"
          />
        </div>
      </div>
    </div>
  </div> -->
  <div class="contain" routerLink="/">
    <!-- <div class="row  mb-lg-0">

      <div class="col-lg-12 col-xl-12">
        <div class="space-lg-1 space-xl-1 mt-lg-5">
          <img
            routerLink="/"
            class="js-svg-injector"
            src=""
            alt="404 Not found"
          />
        </div>
      </div>
    </div> -->
  </div>
</section>

