<section class="container">
  <div class="row">
    <div [class.col-lg-12]="currentStep !==1">
      <ul class="nav">
        <li *ngFor="let tab of tabs" class="nav-item" [class.active]="tab.section === currentStep"
          (click)="setActiveSection(tab.section)">
          <span>
            {{tab.section}}
          </span>
          <span>
            {{ tab.label }}
          </span>
        </li>
      </ul>

      <div class="multi-step-form">
        <div class="step" *ngIf="currentStep === 1">
          <app-step-one (next)="goToNextStep($event)"></app-step-one>
        </div>
        <div class="step" *ngIf="currentStep === 2">
          <app-step-two (previous)="goToPreviousStep()" (next)="goToNextStep($event)"></app-step-two>
        </div>
        <div class="step" *ngIf="currentStep === 3">
          <app-step-three (previous)="goToPreviousStep()" (next)="goToNextStep($event)"></app-step-three>
        </div>
        <div class="step" *ngIf="currentStep === 4" >
          <div class=" thanks-message">
            <div class="test d-flex justify-content-center align-items-center gap-3">

              <div class="thanks">
                <p>
                  Please complete all previous steps so that we can confirm your reservation
                </p>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>
